extends layout
block title-content 
    title About The Lorem Hotel
block nav-content 
block nav-content
    header
        <div class="navbar bcolor">
            <div class="nav-container center">
                <div class="nav">
                    <h1 style="margin-left: 30px;">lorem</h1>
                </div>
                <div class="nav">
                    <ul type="none" class="center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us" style="color: #183A1D;">About-Us</a></li>
                        <li><a href="/contact">Contact-Us</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
block content
    <div class="about-head center">
        <h1 class="head-font rem3">About <span style="color: #F0A04B;">lorem</span></h1>
    </div>
    <div class="about-container center">
        <div class="about center">
            <div class="about-content center">
                <img src="../static/sasha-kaunas-TAgGZWz6Qg8-unsplash.jpg" alt="An image of hotel">
            </div>
            <div class="about-content img center">
                <div class="typing-container">
                    <ul class=" dynamic-texts" style="margin-left: 5px;">
                        <li><h1 style="font-family: 'Allerta Stencil', sans-serif; text-align: left;">Luxurious <span style="color: #F0A04B;">Rooms</span></h1></li>
                        <li><h1 style="font-family: 'Allerta Stencil', sans-serif; text-align: left;">Beautiful <span style="color: #F0A04B;">Sea View</span></h1></li>
                        <li><h1 style="font-family: 'Allerta Stencil', sans-serif; text-align: left;">Customer <span style="color: #F0A04B;">Service</span></h1></li>
                        <li><h1 style="font-family: 'Allerta Stencil', sans-serif; text-align: left;">Customer <span style="color: #F0A04B;">Support</span></h1></li>
                    </ul>
                </div>
                <p style="margin: 5px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque suscipit eligendi esse cum ut accusamus et.</p>
            </div>
        </div>
    </div>