extends layout 
block nav-content 
    header
        <div class="navbar bcolor">
            <div class="nav-container center">
                <div class="nav">
                    <h1 style="margin-left: 30px;">lorem</h1>
                </div>
                <div class="nav">
                    <ul type="none" class="center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About-Us</a></li>
                        <li><a href="/contact">Contact-Us</a></li>
                        <li><a href="/userLogout" style="color: #183A1D; font-size: 30px;"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
block title-content 
    title Register a Complain 
block content 
    <div class="complain-container center">
        <div class="complain-head">
            <h1 class="center rem3 head-font">Register a <span style="color: #F0A04B;">Complaint</span></h1>
        </div>
        if det 
            <div class="complain center" style="width: 500px;">
                <form action="/complain" class="center" style="flex-direction: column; width: 100%;" method="post">
                    input(type="number", name="room", class="input-form", value=`${det.room}`)
                    input(type="email", name="email", class="input-form", value=`${det.email}`)
                    <input type="text" class="input-form" name="complain" placeholder="Suggestion/Complaint">
                    <button class="btn">Submit</button>
                </form>
            </div>
    </div>