extends layout
block nav-content
    header
        <div class="navbar bcolor">
            <div class="nav-container center">
                <div class="nav">
                    <h1 style="margin-left: 30px;">lorem</h1>
                </div>
                <div class="nav">
                    <ul type="none" class="center">
                        <li><a href="/" style="color: #183A1D;">Home</a></li>
                        <li><a href="/about-us">About-Us</a></li>
                        <li><a href="/contact">Contact-Us</a></li>
                        <li><a href="/login">LOGIN</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
block title-content 
    title The Lorem Hotel

block content
    <div class="home-content center">
        <div class="home center">
            <div class="home-head">
                <h1 class="head-font">Welcome to <span style="color: #F0A04B;">lorem</span></h1>
                <p style="margin: 10px; color: #183A1D;">We Won't Let You Leave</p>
                <div class="con" style="margin-top: 30px; background-color: #183A1D; padding: 5px; border-radius: 20px; width: 490px;">
                    <a href="/contact" style="text-decoration: none; color: white;">Contact-Us at lorem@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="home center">
            <div class="home-img center">
                <div class=" center">
                    <img src="../static/runnyrem-LfqmND-hym8-unsplash.jpg" alt="an image of the hotel">
                </div>
            </div>
        </div>
    </div>